<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style3.css}"/>

    <title>Juustuunelm</title>
    <link rel="icon" href="img/core-img/logo.png">
</head>

<body>

<div class="header mt-4">
    <div class="bg-color">
        <div class="wrapper">
            <div class="container">
                <div id="fadeshow1" class="container justify-content-start">
                    <img class="px-4" src="img/core-img/logo.png">
                    <a class="p-4 text-muted nav-title" href="#">Pealeht</a>
                    <a class="p-4 text-muted nav-title" href="#">Telli</a>
                    <a class="p-4 text-muted nav-title" href="#">Kontakt</a>
                </div>
                <div id="fadeshow2">
                    <div class="row justify-content-between mr-1">
                        <img id="logo-small" class="px-4" src="img/core-img/logo.png">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <img src="img/core-img/burgerIcon2.png" data-toggle="collapse" href="#collapse1">
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <a class="p-4 text-muted collapse-title" href="#">Pealeht</a>
                                        <a class="p-4 text-muted collapse-title" href="#">Telli</a>
                                        <a class="p-4 text-muted collapse-title" href="#">Kontakt</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 wow fadeIn delay-05s">
                        <div class="banner-text text-muted">
                            <h3 class="styled-span2 text-muted">Väike juust igas päevas</h3>
                            <h3 class="styled-span2 text-muted">Loo peole meeleolu <br>ja telli juustuvaagen</h3>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br>
                        <br>
                        <div class="col-md-6">
                            <button class="btn text-muted btn-rounded">
                                <span style="font-size:26px;">Telli</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-5">
                <div class="col-md-12">
                    <img class="col-md-12" src="img/bg-img/suur.png">
                </div>
                <h3 class="styled-span text-muted">Suur</h3>
                <p class="lead mb-0">85 €</p>
            </div>
            <div class="col-lg-6 p-5">
                <div class="col-md-12">
                    <img class="col-md-12" src="img/bg-img/väike.jpg">
                </div>
                <h3 class="styled-span text-muted">Väike</h3>
                <p class="lead mb-0">65 €</p>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <!-- Footer Social Info -->
                <div class="footer-social-info">
                    <a href="https://www.facebook.com/JuustuUnelm/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="instaaa" href="https://www.instagram.com/juustu_unelm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                <p class="text-muted">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
