<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Juustuunelm</title>
    <link rel="icon" href="img/core-img/logo.png">
</head>

<body>

<div id="page-container">
    <div id="content-wrap" class="header mt-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="/"><img class="navbar-brand px-4" src="img/core-img/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link p-4" th:href="@{/info.html}">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-4" th:href="@{/telli.html}">Telli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-4" th:href="@{/kontakt.html}">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mt-5">
                    <div><span class="medium-text">Meist & kuidas tellida</span>
                        <br>
                        <br>Meie juures valmivad maitsvad juustuvaagnad kõige suurematele juustusõpradele. Tegutsemas oleme hobikorras ning seetõttu on ka tellimuste ajad piiratud. Erisoovidele üritame võimalikult palju vastu tulla ning selleks palume meile kirjutada, et leida koos sobiv lahendus.
                        <br>
                        <br>
                        <span>Tellida saab 3-päevase etteteatamisega ning kahes suuruses:</span>
                        <br>- VÄIKE (5-10 inimesele)
                        <br>- SUUR (15-20 inimesele)
                        <br>
                        <br>
                        <span class="medium-text">Tellimuste kättesaamise ajad:</span>
                        <br>
                        <br>  -	Argipäeviti (E-R) valikus alates kella 19.00 kuni 22.00.
                        <br>  -	Nädalavahetusel (L-P) valikus alates kella 10.00 kuni 22.00.
                        <br>
                        <br>NB! Kokkuleppel on võimalik ka argipäeva hommikuti juustuvaagnate tellimusi kätte saada.
                        <br>
                        <br>
                        <span class="medium-text">Kuidas toimub kättesaamine?</span>
                        <br>
                        <br>Juustuvaagnaid saab tellida endale sobivasse kohta Tallinna piires. Võimalus on ka ise juustuvaagnale järgi tulla. Asume Tallinna kesklinnas.
                        <br>
                        <br>Omalt poolt anname kaasa juustualuse, kuid kuna pooldame taaskasutust, siis soovime, et alused leiaksid peale tellimust tee meie juurde tagasi. Loomulikult on võimalik ka soovi korral alus ära osta.
                        <br>
                        <br>Võtke julgelt ühendust, kui vaja tellimusi ning kohaletoimetamist muul ajal, võimalusel korraldame kõik vastavalt soovile!
                        <br>
                        <br>Ootame kõiki juustusõpru meie juustuvaagnaid nautima!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer-area">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <div class="footer-social-info">
                        <a href="https://www.facebook.com/JuustuUnelm/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="instaaa" href="https://www.instagram.com/juustu_unelm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <p>+372 53 826 845, juustuunelm@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
