<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Juustuunelm</title>
    <link rel="icon" href="img/core-img/logo.png">
</head>

<body>

<div id="page-container">
    <div id="content-wrap" class="header mt-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="/"><img class="navbar-brand px-4" src="img/core-img/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link p-4" th:href="@{/telli.html}">Telli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-4" th:href="@{/kontakt.html}">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <h3 class="large-text">Vastame hea meelega <br>Teie küsimustele</h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div>Email</div>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="emailInput"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mt-3">
                    <div>Nimi</div>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="nameInput"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mt-3">
                    <div>Kiri</div>
                    <div class="md-form">
                        <textarea type="text" id="emailContent" name="message" rows="4" class="form-control md-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-4">
                        <button id="sendEmail" class="btn text-muted btn-rounded">
                            <span>Saada</span>
                        </button>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer-area">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <div class="footer-social-info">
                        <a href="https://www.facebook.com/JuustuUnelm/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="instaaa" href="https://www.instagram.com/juustu_unelm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <p>+372 53 826 845, juustuunelm@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/kontakt.js"></script>
</body>
</html>
