<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Juustuunelm</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script>var $j = jQuery.noConflict(true);</script>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="img/core-img/salad.png" alt="">
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="index.html" th:href="@{/}">Pealeht</a></li>
                                <li class="active"><a href="receipe-post.html">Telli</a></li>
                                <li><a href="receipe-post.html">Kontakt</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Tellimus</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="receipe-post-area section-padding-80">

    <div class="receipe-post-search mb-80">
        <div class="container">
            <div class="row">
                <div>Valitud kandikud</div>
            </div>
        </div>
    </div>

    <!-- Receipe Post Search -->
    <div class="receipe-post-search mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <select name="select1" id="selectVaagen">
                        <tr th:each ="platter : ${availablePlatters}">
                            <option th:value="${platter.name}" th:utext="${platter.name}">...</option>
                            <td th:utext="${platter.name}">...</td>
                        </tr>
                    </select>
                </div>
                <div class="col-12 col-lg-3 text-right">
                    <button id="lisaVaagen" type="submit" class="btn delicious-btn">Lisa</button>
                </div>
            </div>
        </div>
    </div>

    <div class="receipe-post-search mb-80">
        <div class="container">
            <div class="row">
                <div>Vali kellaaeg</div>
                <div>Kalender</div>
            </div>
        </div>
    </div>

    <div class="receipe-post-search mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <select id="selectTime">
                        <option value="1">19:00</option>
                        <option value="2">20:00</option>
                        <option value="3">21:00</option>
                        <option value="4">22:00</option>
                    </select>
                </div>
                <div class='col-sm-6'>
                    <form>
                        <div class="form-group">
                            <div class='input-group date' id='datepicker'>
                                <input type='text' class="form-control" id="dateInput"/>
                                <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="receipe-post-search mb-80">
        <div class="container">
            <div class="row">
                <div>Sisesta info</div>
            </div>
        </div>
    </div>

    <div class="receipe-post-search mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div>Nimi</div>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="nameInput"/>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div>Telefon</div>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="phoneNumberInput"/>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div>Email</div>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="emailInput"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="receipe-post-search mb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 text-right">
                    <button id="telliVaagen" type="submit" class="btn delicious-btn">Telli</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Follow Us Instagram Area Start ##### -->
<div class="follow-us-instagram">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Follow Us Instragram</h5>
            </div>
        </div>
    </div>
    <!-- Instagram Feeds -->
    <div class="insta-feeds d-flex flex-wrap">
        <div class="single-insta-feeds" onclick="window.open('https://www.instagram.com/p/BzKf31DJgoG/','mywindow');">
            <style>video.labnol, img.labnol {max-width:100%; width: 100% !important; height: auto !important;}</style> <img class='labnol' src='https://scontent-atl3-1.cdninstagram.com/vp/819988f78550ab19fdaede5c03406452/5DA3EB05/t51.2885-15/e35/p1080x1080/65108437_325065458428236_6717310692188847945_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com' width='1080' height='1350'/>

            <div class="insta-icon">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-insta-feeds" onclick="window.open('https://www.instagram.com/p/ByQljD3Jv6-/','mywindow');">
            <style>video.labnol, img.labnol {max-width:100%; width: 100% !important; height: auto !important;}</style> <img class='labnol' src='https://scontent-atl3-1.cdninstagram.com/vp/f4860ea167016a065106c2d1a9b721e0/5DB9C10A/t51.2885-15/e35/p1080x1080/61393865_853302778342132_8697167209256411716_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com' width='1080' height='1350' />

            <div class="insta-icon">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-insta-feeds" onclick="window.open('https://www.instagram.com/p/Bxj37bIpMGs/','mywindow');">
            <style>video.labnol, img.labnol {max-width:100%; width: 100% !important; height: auto !important;}</style> <img class='labnol' src='https://scontent-atl3-1.cdninstagram.com/vp/8218c3c9cf4b7c5ac1126763dc94a34f/5DB5C51C/t51.2885-15/e35/p1080x1080/59557861_1125681800962964_5761840263629326434_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com' width='1080' height='1350' />

            <div class="insta-icon">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-insta-feeds" onclick="window.open('https://www.instagram.com/p/BtLJH3PFfc4/','mywindow');">
            <style>video.labnol, img.labnol {max-width:100%; width: 100% !important; height: auto !important;}</style> <img class='labnol' src='https://scontent-atl3-1.cdninstagram.com/vp/6cfc8b13660632115b319ba0b2b1d6f7/5DAFB088/t51.2885-15/e35/50117173_391255075014379_6239393164865822661_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com' width='1080' height='1350' />

            <div class="insta-icon">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-insta-feeds" onclick="window.open('https://www.instagram.com/p/BrsbNqGgjpb/','mywindow');">
            <style>video.labnol, img.labnol {max-width:100%; width: 100% !important; height: auto !important;}</style> <img class='labnol' src='https://scontent-atl3-1.cdninstagram.com/vp/9179e739364837c0feedd941ae810823/5DBA009C/t51.2885-15/e35/47161840_330739294429000_3853120117453812703_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com' width='1080' height='1350' />

            <div class="insta-icon">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-insta-feeds" onclick="window.open('https://www.instagram.com/p/Bvgvu8VDQ8Q/','mywindow');">
            <style>video.labnol, img.labnol {max-width:100%; width: 100% !important; height: auto !important;}</style> <img class='labnol' src='https://scontent-atl3-1.cdninstagram.com/vp/4dc0b9d69d25818fc5f4d354a1baec77/5DAA5C7E/t51.2885-15/e35/53623325_645941065856053_511725741802606765_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com' width='1080' height='1350' />

            <div class="insta-icon">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-insta-feeds" onclick="window.open('https://www.instagram.com/p/BvXD4DIjY3d/','mywindow');">
            <style>video.labnol, img.labnol {max-width:100%; width: 100% !important; height: auto !important;}</style> <img class='labnol' src='https://scontent-atl3-1.cdninstagram.com/vp/5549946f1f5f57484858aa6ae15e1888/5DC0AC40/t51.2885-15/e35/54247533_360239961255025_35982394426137475_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com' width='1080' height='1350' />

            <div class="insta-icon">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Follow Us Instagram Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <!-- Footer Social Info -->
                <div class="footer-social-info text-right">
                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                </div>
                <!-- Copywrite -->
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
<script src="js/script.js"></script>
</body>

</html>
