<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151408018-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151408018-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Juustuunelm - telli suur või väike juustuvaagen koju."/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Juustuvaagen - Telli - Juustuunelm</title>
    <link rel="icon" href="img/core-img/logo.png">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--    https://gijgo.com/datepicker/example/bootstrap-4-->
    <script src="js/datepicker.js" type="text/javascript"></script>
    <link href="css/datepicker.css" rel="stylesheet" type="text/css"/>
</head>

<div id="page-container">
    <div id="content-wrap" class="header mt-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="/"><img class="navbar-brand px-4" src="img/core-img/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link p-4" th:href="@{/info.html}">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-4" th:href="@{/telli.html}">Telli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-4" th:href="@{/kontakt.html}">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container mt-5">
            <div class="col-12 col-lg-4">
                <div class="row">
                    <p>Lisa kandikutüüp ja kogus</p>
                </div>
                <p style="color: red; display:none" id="lisaKandikText">Lisa kandik</p>
            </div>
        </div>
        <div id="väikeDiv" style="display:none" class="container mb-5">
            <div class="col-12">
                <div class="row">
                    <img style="width: calc(100%  /3); height: calc(100%  /3)" src="img/bg-img/väike.jpg" alt="Väike juustuvaagen koostises juust, puuviljad, marjad, leivakrõpsud">
                    <p class="ml-3 mt-3" id="väikeNr"></p>
                </div>
            </div>
        </div>

        <div id="suurDiv" style="display:none" class="container mb-5">
            <div class="col-12">
                <div class="row">
                    <img style="width: calc(100%  /3); height: calc(100%  /3)" src="img/bg-img/suur.png" alt="Suur juustuvaagen koostises juust, puuviljad, marjad, leivakrõpsud">
                    <p class="ml-3 mt-3" id="suurNr"></p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-lg-3 mt-2">
                    <select name="select1" id="selectVaagen" class="custom-select">
                        <tr th:each ="platter : ${availablePlatters}">
                            <option class="normal-text" th:value="${platter.name}" th:utext="${platter.name}">...</option>
                            <td th:utext="${platter.name}">...</td>
                        </tr>
                    </select>
                </div>
                <div class="col-12 col-lg-3 mt-2">
                    <select name="select1" id="selectKogus" class="custom-select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row mb-5">
                <div class="col-lg-1 text-right">
                    <button id="lisaVaagen" type="submit" class="btn text-muted">Lisa</button>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="col-12 col-lg-4">
                <div class="row">
                    <p>Vali vaba kuupäev ja kellaaeg</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mt-3">
                    <input id="datepicker" width="250"/>
                </div>
                <div class="col-12 col-lg-3 mt-3">
                    <select id="selectTime" class="custom-select" style="width: 250px">
                        <option value="1">19:00</option>
                        <option value="2">20:00</option>
                        <option value="3">21:00</option>
                        <option value="4">22:00</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p>Sisesta enda kontakt</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p>Nimi</p>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="nameInput"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p>Telefon</p>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="phoneNumberInput"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p>Email</p>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="emailInput"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row mb-5">
                <div class="col-lg-1 text-right">
                    <button id="telliVaagen" type="submit" class="btn text-muted">Telli</button>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer-area">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <div class="footer-social-info">
                        <a href="https://www.facebook.com/JuustuUnelm/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="instaaa" href="https://www.instagram.com/juustu_unelm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <p>+372 53 826 845, juustuunelm@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/script.js"></script>
</body>
</html>
